@charset "utf-8";


@import url("framework.css");




/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}





/* Contact Details
--------------------------------------------------------------------------------------------------------------- */
#ctdetails{padding:0px 0;}
#ctdetails ul{}
#ctdetails ul li{}
#ctdetails ul li div{position:relative; min-height:45px; padding:0 0 0 60px; line-height:1;}
#ctdetails ul li div i{position:absolute; top:0; left:0; width:45px; height:45px; line-height:43px; font-size:16px; text-align:center; border:1px solid; border-radius:50%;}
#ctdetails ul li div span{display:block; padding:4px 0 0 0;}
#ctdetails ul li div strong{display:block; margin:0 0 8px 0; text-transform:capitalize;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}

#footer input, #footer button{border:1px solid;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:400; cursor:pointer;}




/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#A5A6AA; background-color:#161C21;}
a{color:#060606;}
a:active, a:focus{background:transparent !important;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#B946AD !important;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}

.coloured{color:#FFFFFF; background-color:#060606;}
.coloured .btn, .coloured .btn.inverse:hover{color:#FFFFFF; background-color:#161C21; border-color:#161C21;}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#B946AD; border-color:#B946AD;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.imgover:hover::before{background-color:rgba(185,70,173,.5);/* #B946AD */}
.imgover, .imgover:hover::after{color:#FFFFFF;}

.heading.underline::after{background-color:#A032AB;}


/* Rows */
.row0{color:#FFFFFF; background-color:#161C21;}
.row1{color:#FFFFFF; background-color:rgba(0,0,0,.75);}
.row2{color:#474747; background-color:#F4F4F4;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#A5A6AA; background-color:#000000;}
.row5, .row5 a{color:#A5A6AA; background-color:#161C21;}








/* Contact Details */
#ctdetails ul li div a{color:#FFFFFF;}
#ctdetails ul li div a i{color:rgba(255,255,255,.5); border-color:rgba(255,255,255,.5);}
#ctdetails ul li div:hover a i{color:inherit; border-color:rgba(255,255,255,1);}
#ctdetails ul li div strong{color:#FFFFFF;}


/* Footer */
#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}

#footer input, #footer button{border-color:transparent;}
#footer input{color:#474747; background-color:rgba(255,255,255,1);}
#footer input:focus{border-color:#B946AD;}
#footer button{color:#FFFFFF; background-color:#B946AD;}
#footer button:hover{color:inherit; background-color:transparent; border-color:inherit;}




/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{}
	

	#mainav{}


	.container{}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}


}






@media screen and (max-width:750px){
	
	

	#footer{padding-bottom:50px;}/* Not needed - just looks better */
	#footer .latestimg > li, #footer .latestimg > li:nth-last-child(-n+3){display:inline-block; float:none; width:auto; margin:0 5% 5% 0;}
	#footer .latestimg > li:last-child{margin-bottom:0;}
	#footer .latestimg > li img{width:auto;}
}

@media screen and (max-width:450px){
	
	 footer{text-align:left;}
}

/* Other
--------------------------------------------------------------------------------------------------------------- */

.boxFox {
  background-color: #c0c0c0;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}